body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3C403D;
  background-color: #f4d4b7;
  font-family: 'Oxygen', sans-serif;

}

code {
  font-family: Oxygen, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
